<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <script src="https://kit.fontawesome.com/79e8119200.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    <header>
      <div class="container header-group">
        <div class="header-left">
          <%= link_to "#mv" do %>
            <%= image_tag "logo.png", :class => "logo", :alt => "MySiteロゴ" %>
          <% end %>
        </div>
        <div class="header-right">
          <div id="humberger">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <nav>          
            <ul class="nav-list">
              <%= link_to '#portfolio' do %>
              <li class="nav-list-item">Portfolio</li>
              <% end %>
              <%= link_to '#feature' do %>
              <li class="nav-list-item">Feature</li>
              <% end %>
              <%= link_to '#profile' do %>
              <li class="nav-list-item">Profile</li>
              <% end %>
              <%= link_to '#contact' do %>
              <li class="nav-list-item">Contact</li>
              <% end %>
            </ul>
          </nav>
        </div>
    </header>
    <main><%= yield %></main>
    
    <footer>
      <p class="container footer-text">©2021 WebCamp</p>
    </footer>
  </body>
</html>
